#btSave{
    background-color: #1378d1;
}
#btCancel{
    background-color: #f21b34;

}
#btCancel,#btSave{
    color: white;
    border-radius: 2px;
    border-width: 0;
    width: 70px;
    height: 20px;
    font-size: 60%;
}
.container{
    display:flex;
    justify-content: center;
    zoom: 150%;
}